
$yellow: #f1c40f

$lightgrey: #bdc3c7
$grey: #95a5a6
$darkgrey: #7f8c8d
$dark: #34495e
$black: #2c3e50

$brandcolor: #7fb336 //rgba(127, 179, 54, 100)
$white: #f7ffff //rgba(247, 255, 255, 100)
$blue: #73a9c7 //rgba(115, 169, 199, 100)
$red: #e06053 //rgba(224, 96, 83, 100)
$dark: #153131 //rgba(21, 49, 49, 100)

$regular-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
$title-font-family: 'Droid Sans', sans-serif
