<nav>
  <ul>
    <li><a href="/"><i class="fa fa-fw fa-home" aria-hidden="true"></i> Home</a></li>
    <li><a href="/info/"><i class="fa fa-fw fa-info-circle" aria-hidden="true"></i> Info</a></li>
    <li><a href="/nieuws/"><i class="fa fa-fw fa-newspaper-o" aria-hidden="true"></i> Nieuws</a></li>
    <li><a href="/minigames/"><i class="fa fa-fw fa-gamepad" aria-hidden="true"></i> MiniGames</a></li>
    <li><a href="/ranks/"><i class="fa fa-fw fa-diamond" aria-hidden="true"></i> Ranks</a></li>
    <li><a href="/contact/"><i class="fa fa-fw fa-comments" aria-hidden="true"></i> Contact</a></li>
  </ul>
</nav>
